[submodule "src/SyncVPN.LocalAgent"]
	path = src/SyncVPN.LocalAgent
	url = https://github.com/SyncVPN/go-vpn-lib.git
[submodule "src/proton-vpn-binary-status"]
	path = src/proton-vpn-binary-status
	url = https://github.com/SyncVPN/proton-vpn-binary-status.git
[submodule "src/proton-rs-srp-cffi"]
	path = src/proton-rs-srp-cffi
	url = https://github.com/SyncVPN/proton-rs-srp-cffi.git
